.inputContainer {
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid #ededed;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);

  &::placeholder {
    font-style: italic;
    color: #e6e6e6;
  }

  &:focus {
    outline: none;
  }
}
